.App {
  text-align: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.box {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}
.inner-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  /* display: block; */
  width: 100%;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.MuiButton-contained {
  margin: 20px;
  width: 200px;
}

.btn-info.MuiButton-contained {
  background-color: #2196f3;
  color: white;
}
.btn-info.MuiButton-contained:hover {
  background-color: #0c6ab6;
}
.btn-success.MuiButton-contained {
  background-color: #4caf50;
  color: white;
}
.btn-success.MuiButton-contained:hover {
  background-color: #327a34;
}
.btn-warning.MuiButton-contained {
  background-color: #ff9800;
  color: white;
}
.btn-warning.MuiButton-contained:hover {
  background-color: #cf7c00;
}

a {
  text-decoration: none;
}
